# **Draw sections**

In [1]:
import ezdxf
import pandas as pd
from ezdxf import zoom

file_name='NV-22.MD'
df=pd.read_csv(f'{file_name}.CSV', usecols=[0,1,2,3,4], names=["est", "x", "y", "z", "des"], header=None)
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

df['des']=df['des'].str.upper()
df['xy']=df.apply(lambda j: (j['x'],j['y']),axis=1)
df['xyz']=df.apply(lambda j: (j['x'],j['y'],j['z']),axis=1)
df.head()

,est,x,y,z,des,xy,xyz
1,P99,366386.2540,8.710984e+06,3566.3281,PP,"(366386.254, 8710983.8783)","(366386.254, 8710983.8783, 3566.3281)"
2,P100,366380.5968,8.710984e+06,3565.9172,PP,"(366380.5968, 8710984.2406)","(366380.5968, 8710984.2406, 3565.9172)"
3,1,366387.5172,8.710988e+06,3570.0157,T,"(366387.5172, 8710988.0704)","(366387.5172, 8710988.0704, 3570.0157)"
4,2,366386.4586,8.710987e+06,3569.8995,T,"(366386.4586, 8710986.865)","(366386.4586, 8710986.865, 3569.8995)"
5,3,366385.6641,8.710986e+06,3569.8092,T,"(366385.6641, 8710985.9608)","(366385.6641, 8710985.9608, 3569.8092)"

In [2]:
#Select only sections
filt = (df['des']=='SEC')
df_sec= df[filt][['est','xyz','des']]
df_sec

    est                                     xyz  des
69    1  (366373.8955, 8710960.4465, 3561.9565)  SEC
70    2  (366376.2982, 8710960.1128, 3561.9521)  SEC
71    3  (366376.2057, 8710961.5415, 3563.8415)  SEC
72    4  (366376.0909, 8710962.0159, 3564.7887)  SEC
73    5  (366375.1325, 8710954.5733, 3565.1605)  SEC
..   ..                                     ...  ...
217  11  (366386.7412, 8710985.1303, 3569.8054)  SEC
218  12  (366386.9336, 8710984.9168, 3569.8054)  SEC
219  13  (366387.2341, 8710985.1805, 3568.3749)  SEC
220  14   (366387.2338, 8710985.1817, 3568.357)  SEC
221  15  (366387.6353, 8710985.5836, 3565.9827)  SEC

[153 rows x 3 columns]

In [3]:
doc=ezdxf.new(dxfversion='R2000', setup=True)
msp=doc.modelspace()
doc.layers.new(name='SEC', dxfattribs={'color':3})

<class 'ezdxf.entities.layer.Layer'> LAYER(#89)

In [4]:
#find start : end of sections

est_list = df_sec['est'].tolist()
est_list = [int(x) for x in est_list]

idx=[]
for i,v in enumerate(est_list):
    if v==1:
        idx=idx+[i]

print(idx)

from pprint import pprint

for i in range(len(idx)):
    print(i)
    if i < len(idx)-1:
        points = df_sec['xyz'][idx[i]:idx[i+1]].tolist()
        msp.add_polyline3d(points=points, close=True, dxfattribs={'layer':'SEC'})
        #pprint(points)
    else:
        points = df_sec['xyz'][idx[i]:].tolist()
        #pprint(points)
        msp.add_polyline3d(points=points, close=True, dxfattribs={'layer':'SEC'})

zoom.extents(msp)
doc.saveas('sec2.dxf')

[0, 13, 30, 48, 65, 80, 107, 122, 138]
0
1
2
3
4
5
6
7
8

In [5]:
#0,4,7,9
#test_list=[1,2,3,4,1,2,3,1,2,1,2,3,4,5,6,7]
test_list=[1,2,3,4]

In [6]:
idx=[]
for i,v in enumerate(test_list):
    if v==1:
        idx=idx+[i]
idx

[0]

In [7]:
for i in range(len(idx)):
    if i < len(idx)-1:
        print(idx[i],idx[i+1])
    else:
        print(idx[i])

0

In [8]:
res=[]
for i in range(len(idx)):
    if i < len(idx)-1:
        res.append(test_list[idx[i]:idx[i+1]])
    else:
        res.append(test_list[idx[i]:])

res

[[1, 2, 3, 4]]

In [9]:
for i in range(len(idx)):
    if i < len(idx)-1:
        print(test_list[idx[i]:idx[i+1]])
    else:
        print(test_list[idx[i]:])

[1, 2, 3, 4]