In [47]:
import pandas as pd
#df=pd.read_csv('NV-20A.MD.CSV', usecols=[0,1,2,3,4], names=["e", "x", "y", "z", "d"], header=None)
df=pd.read_csv('8A_1.MD.CSV', usecols=[0,1,2,3,4], names=["e", "x", "y", "z", "d"], header=None)
df['xy']=df.apply(lambda j: [j['x'],j['y']],axis=1)
df['xyz']=df.apply(lambda j: [j['x'],j['y'],j['z']],axis=1)
df.head()

,e,x,y,z,d,xy,xyz
0,R68,366409.3232,8.710682e+06,3607.9896,NaN,"[366409.3232, 8710682.2969]","[366409.3232, 8710682.2969, 3607.9896]"
1,1,366406.0007,8.710679e+06,3607.7282,L,"[366406.0007, 8710679.1609]","[366406.0007, 8710679.1609, 3607.7282]"
2,2,366406.3966,8.710680e+06,3607.7237,L,"[366406.3966, 8710680.0715]","[366406.3966, 8710680.0715, 3607.7237]"
3,3,366406.5713,8.710681e+06,3607.6628,L,"[366406.5713, 8710680.8106]","[366406.5713, 8710680.8106, 3607.6628]"
4,4,366406.2757,8.710681e+06,3607.6263,L,"[366406.2757, 8710681.132]","[366406.2757, 8710681.132, 3607.6263]"

In [39]:
#Column type
df.dtypes

e       object
x      float64
y      float64
z      float64
d       object
xyz     object
dtype: object

In [48]:
filt=(df['d']=='L')
df[filt].head()

,e,x,y,z,d,xy,xyz
1,1,366406.0007,8.710679e+06,3607.7282,L,"[366406.0007, 8710679.1609]","[366406.0007, 8710679.1609, 3607.7282]"
2,2,366406.3966,8.710680e+06,3607.7237,L,"[366406.3966, 8710680.0715]","[366406.3966, 8710680.0715, 3607.7237]"
3,3,366406.5713,8.710681e+06,3607.6628,L,"[366406.5713, 8710680.8106]","[366406.5713, 8710680.8106, 3607.6628]"
4,4,366406.2757,8.710681e+06,3607.6263,L,"[366406.2757, 8710681.132]","[366406.2757, 8710681.132, 3607.6263]"
5,5,366406.6168,8.710682e+06,3607.5667,L,"[366406.6168, 8710681.7435]","[366406.6168, 8710681.7435, 3607.5667]"

In [49]:
filt=(df['d']=='L')
dfx=df[filt].head()
dfx['xyz'].values.tolist()

[[366406.0007, 8710679.1609, 3607.7282],
 [366406.3966, 8710680.0715, 3607.7237],
 [366406.5713, 8710680.8106, 3607.6628],
 [366406.2757, 8710681.132, 3607.6263],
 [366406.6168, 8710681.7435, 3607.5667]]

# **Implementation**

In [51]:
import ezdxf
import pandas as pd
from ezdxf import zoom

df=pd.read_csv('8A_1.MD.CSV', usecols=[0,1,2,3,4], names=["e", "x", "y", "z", "d"], header=None)
df['xy']=df.apply(lambda j: [j['x'],j['y']],axis=1)
df['xyz']=df.apply(lambda j: [j['x'],j['y'],j['z']],axis=1)

#doc=ezdxf.new(dxfversion='R2018')
doc=ezdxf.new()
msp=doc.modelspace()

#layers
#doc.layers.new(name='A', dxfattribs={'linetype':'DASHED', 'color':1})
doc.layers.new(name='L', dxfattribs={'color':1})
doc.layers.new(name='T', dxfattribs={'color':2})
doc.layers.new(name='P', dxfattribs={'color':5})
doc.layers.new(name='2D', dxfattribs={'color':6})


for pt in ['L','T','P']:
    filt = (df['d']==pt)
    dfx = df[filt]
    points = dfx['xyz'].values.tolist()
    msp.add_polyline3d(points=points,dxfattribs={'layer':pt})
    
    if pt=='L':
        points = dfx['xy'].values.tolist()
        #msp.add_polyline2d(points=points,dxfattribs={'layer':'2D'})
        msp.add_lwpolyline(points=points,dxfattribs={'layer':'2D'})

zoom.extents(msp)
doc.saveas('test.dxf')

## **Points**

In [2]:
import ezdxf
import pandas as pd
from ezdxf import zoom

df=pd.read_csv('8A_1.MD.CSV', usecols=[0,1,2,3,4], names=["e", "x", "y", "z", "d"], header=None)
df['xy']=df.apply(lambda j: [j['x'],j['y']],axis=1)
df['xyz']=df.apply(lambda j: [j['x'],j['y'],j['z']],axis=1)

#doc=ezdxf.new(dxfversion='R2018')
doc=ezdxf.new()
msp=doc.modelspace()
#layers
#doc.layers.new(name='A', dxfattribs={'linetype':'DASHED', 'color':1})
doc.layers.new(name='L', dxfattribs={'color':1})
doc.layers.new(name='T', dxfattribs={'color':2})
doc.layers.new(name='P', dxfattribs={'color':5})
doc.layers.new(name='2D', dxfattribs={'color':6})
doc.layers.new(name='PP', dxfattribs={'color':8})


for pt in ['L','T','P','PP']:
    filt = (df['d']==pt)
    dfx = df[filt]
    points = dfx['xyz'].values.tolist()
    msp.add_polyline3d(points=points,dxfattribs={'layer':pt})
    
    if pt=='L':
        points = dfx['xy'].values.tolist()
        #msp.add_polyline2d(points=points,dxfattribs={'layer':'2D'})
        msp.add_lwpolyline(points=points,dxfattribs={'layer':'2D'})
    '''
    #To complete
    if pt=='PP':
        points = dfx[['e','xyz']].values.tolist()
        for pp in points:
            msp.add_point(location=pp[1], dxfattribs={'layer':'PP'})
            msp.add_text(text=pp[0], insert=pp[1])
    '''
zoom.extents(msp)
doc.saveas('test.dxf')

TypeError: add_text() got an unexpected keyword argument 'insert'

In [10]:
filt = (df['d']=='PP')
df[filt][['e','xyz']].values.tolist()

[['G', [366409.8863, 8710679.6043, 3609.8101]],
 ['G1', [366410.2312, 8710679.3544, 3609.495]],
 ['A4', [366429.3726, 8710704.7626, 3607.3363]],
 ['A3', [366431.8479, 8710712.1139, 3607.4386]],
 ['A5', [366426.0982, 8710712.7764, 3607.1036]]]