In [47]:
import pandas as pd
#df=pd.read_csv('NV-20A.MD.CSV', usecols=[0,1,2,3,4], names=["e", "x", "y", "z", "d"], header=None)
df=pd.read_csv('8A_1.MD.CSV', usecols=[0,1,2,3,4], names=["e", "x", "y", "z", "d"], header=None)
df['xy']=df.apply(lambda j: [j['x'],j['y']],axis=1)
df['xyz']=df.apply(lambda j: [j['x'],j['y'],j['z']],axis=1)
df.head()

,e,x,y,z,d,xy,xyz
0,R68,366409.3232,8.710682e+06,3607.9896,NaN,"[366409.3232, 8710682.2969]","[366409.3232, 8710682.2969, 3607.9896]"
1,1,366406.0007,8.710679e+06,3607.7282,L,"[366406.0007, 8710679.1609]","[366406.0007, 8710679.1609, 3607.7282]"
2,2,366406.3966,8.710680e+06,3607.7237,L,"[366406.3966, 8710680.0715]","[366406.3966, 8710680.0715, 3607.7237]"
3,3,366406.5713,8.710681e+06,3607.6628,L,"[366406.5713, 8710680.8106]","[366406.5713, 8710680.8106, 3607.6628]"
4,4,366406.2757,8.710681e+06,3607.6263,L,"[366406.2757, 8710681.132]","[366406.2757, 8710681.132, 3607.6263]"

In [39]:
#Column type
df.dtypes

e       object
x      float64
y      float64
z      float64
d       object
xyz     object
dtype: object

In [48]:
filt=(df['d']=='L')
df[filt].head()

,e,x,y,z,d,xy,xyz
1,1,366406.0007,8.710679e+06,3607.7282,L,"[366406.0007, 8710679.1609]","[366406.0007, 8710679.1609, 3607.7282]"
2,2,366406.3966,8.710680e+06,3607.7237,L,"[366406.3966, 8710680.0715]","[366406.3966, 8710680.0715, 3607.7237]"
3,3,366406.5713,8.710681e+06,3607.6628,L,"[366406.5713, 8710680.8106]","[366406.5713, 8710680.8106, 3607.6628]"
4,4,366406.2757,8.710681e+06,3607.6263,L,"[366406.2757, 8710681.132]","[366406.2757, 8710681.132, 3607.6263]"
5,5,366406.6168,8.710682e+06,3607.5667,L,"[366406.6168, 8710681.7435]","[366406.6168, 8710681.7435, 3607.5667]"

In [49]:
filt=(df['d']=='L')
dfx=df[filt].head()
dfx['xyz'].values.tolist()

[[366406.0007, 8710679.1609, 3607.7282],
 [366406.3966, 8710680.0715, 3607.7237],
 [366406.5713, 8710680.8106, 3607.6628],
 [366406.2757, 8710681.132, 3607.6263],
 [366406.6168, 8710681.7435, 3607.5667]]

# **Implementation**

In [51]:
import ezdxf
import pandas as pd
from ezdxf import zoom

df=pd.read_csv('8A_1.MD.CSV', usecols=[0,1,2,3,4], names=["e", "x", "y", "z", "d"], header=None)
df['xy']=df.apply(lambda j: [j['x'],j['y']],axis=1)
df['xyz']=df.apply(lambda j: [j['x'],j['y'],j['z']],axis=1)

#doc=ezdxf.new(dxfversion='R2018')
doc=ezdxf.new()
msp=doc.modelspace()

#layers
#doc.layers.new(name='A', dxfattribs={'linetype':'DASHED', 'color':1})
doc.layers.new(name='L', dxfattribs={'color':1})
doc.layers.new(name='T', dxfattribs={'color':2})
doc.layers.new(name='P', dxfattribs={'color':5})
doc.layers.new(name='2D', dxfattribs={'color':6})


for pt in ['L','T','P']:
    filt = (df['d']==pt)
    dfx = df[filt]
    points = dfx['xyz'].values.tolist()
    msp.add_polyline3d(points=points,dxfattribs={'layer':pt})
    
    if pt=='L':
        points = dfx['xy'].values.tolist()
        #msp.add_polyline2d(points=points,dxfattribs={'layer':'2D'})
        msp.add_lwpolyline(points=points,dxfattribs={'layer':'2D'})

zoom.extents(msp)
doc.saveas('test.dxf')

## **Points**

In [2]:
import ezdxf
import pandas as pd
from ezdxf import zoom

df=pd.read_csv('8A_1.MD.CSV', usecols=[0,1,2,3,4], names=["e", "x", "y", "z", "d"], header=None)
df['xy']=df.apply(lambda j: [j['x'],j['y']],axis=1)
df['xyz']=df.apply(lambda j: [j['x'],j['y'],j['z']],axis=1)

#doc=ezdxf.new(dxfversion='R2018')
doc=ezdxf.new()
msp=doc.modelspace()
#layers
#doc.layers.new(name='A', dxfattribs={'linetype':'DASHED', 'color':1})
doc.layers.new(name='L', dxfattribs={'color':1})
doc.layers.new(name='T', dxfattribs={'color':2})
doc.layers.new(name='P', dxfattribs={'color':5})
doc.layers.new(name='2D', dxfattribs={'color':6})
doc.layers.new(name='PP', dxfattribs={'color':8})


for pt in ['L','T','P','PP']:
    filt = (df['d']==pt)
    dfx = df[filt]
    points = dfx['xyz'].values.tolist()
    msp.add_polyline3d(points=points,dxfattribs={'layer':pt})
    
    if pt=='L':
        points = dfx['xy'].values.tolist()
        #msp.add_polyline2d(points=points,dxfattribs={'layer':'2D'})
        msp.add_lwpolyline(points=points,dxfattribs={'layer':'2D'})
    '''
    #To complete
    if pt=='PP':
        points = dfx[['e','xyz']].values.tolist()
        for pp in points:
            msp.add_point(location=pp[1], dxfattribs={'layer':'PP'})
            msp.add_text(text=pp[0], insert=pp[1])
    '''
zoom.extents(msp)
doc.saveas('test.dxf')

TypeError: add_text() got an unexpected keyword argument 'insert'

In [10]:
filt = (df['d']=='PP')
df[filt][['e','xyz']].values.tolist()

[['G', [366409.8863, 8710679.6043, 3609.8101]],
 ['G1', [366410.2312, 8710679.3544, 3609.495]],
 ['A4', [366429.3726, 8710704.7626, 3607.3363]],
 ['A3', [366431.8479, 8710712.1139, 3607.4386]],
 ['A5', [366426.0982, 8710712.7764, 3607.1036]]]

In [1]:
import ezdxf
import pandas as pd
from ezdxf import zoom
#from ezdxf.entities import Point

# Argument setup=True for adding standard linetypes and text styles.
doc = ezdxf.new('R12',setup=True)
doc.header['$PDMODE'] = 66
doc.header['$PDSIZE'] = 0.5

msp=doc.modelspace()
msp.add_point((5,5,5))

msp.add_text("A Simple Text 2D").set_pos((2, 3), align='MIDDLE_RIGHT')

msp.add_text("A Simple Text 3D").set_pos((2, 3, 10), align='MIDDLE_LEFT')

msp.add_text("Text Style Example: Liberation Serif",
             dxfattribs={
                 'style': 'STANDARD',
                 'height': 0.5}
             ).set_pos((2, 6), align='LEFT')

zoom.extents(msp)
doc.saveas('text.dxf')

In [15]:
import pandas as pd

df=pd.read_csv('NV-20A.MD.CSV', usecols=[0,1,2,3,4], names=["e", "x", "y", "z", "d"], header=None)
df['xy']=df.apply(lambda j: [j['x'],j['y']],axis=1)
df['xyz']=df.apply(lambda j: [j['x'],j['y'],j['z']],axis=1)
df.head(n=10)

,e,x,y,z,d,xy,xyz
0,R66,366142.0593,8.710623e+06,3466.3710,NaN,"[366142.0593, 8710623.3229]","[366142.0593, 8710623.3229, 3466.371]"
1,GA,366144.0229,8.710628e+06,3465.6303,PP,"[366144.0229, 8710628.1206]","[366144.0229, 8710628.1206, 3465.6303]"
2,GA1,366139.2620,8.710625e+06,3465.7411,PP,"[366139.262, 8710624.8517]","[366139.262, 8710624.8517, 3465.7411]"
3,1,366137.0889,8.710620e+06,3466.1239,L,"[366137.0889, 8710619.836]","[366137.0889, 8710619.836, 3466.1239]"
4,2,366136.6317,8.710619e+06,3466.2336,L,"[366136.6317, 8710618.7151]","[366136.6317, 8710618.7151, 3466.2336]"
5,3,366135.8436,8.710618e+06,3466.2815,L,"[366135.8436, 8710617.902]","[366135.8436, 8710617.902, 3466.2815]"
6,4,366135.6406,8.710617e+06,3466.4303,L,"[366135.6406, 8710617.1177]","[366135.6406, 8710617.1177, 3466.4303]"
7,5,366134.9695,8.710616e+06,3466.5850,L,"[366134.9695, 8710615.9378]","[366134.9695, 8710615.9378, 3466.585]"
8,6,366133.5777,8.710614e+06,3466.7425,L,"[366133.5777, 8710614.2666]","[366133.5777, 8710614.2666, 3466.7425]"
9,7,366132.4266,8.710613e+06,3466.8019,L,"[366132.4266, 8710612.7128]","[366132.4266, 8710612.7128, 3466.8019]"

In [20]:
#Select only points
filt = (df['d']=='PP')
dfx= df[filt][['e','xyz']]
dfx

     e                                     xyz
1   GA  [366144.0229, 8710628.1206, 3465.6303]
2  GA1   [366139.262, 8710624.8517, 3465.7411]

In [59]:
pps = dfx.values.tolist()
pps

[['GA', [366144.0229, 8710628.1206, 3465.6303]],
 ['GA1', [366139.262, 8710624.8517, 3465.7411]]]

In [ ]:
for pp in pps:
    msp.add_point(pp[1])
    msp.add_text(pp[0],
                dxfattribs={
                    'style': 'STANDARD',
                    'height': 0.5}
                ).set_pos(pp[1], align='LEFT')

In [63]:
import ezdxf
import pandas as pd
from ezdxf import zoom

#Read csv file
df=pd.read_csv('NV-20A.MD.CSV', usecols=[0,1,2,3,4], names=["e", "x", "y", "z", "d"], header=None)
df['xy']=df.apply(lambda j: [j['x'],j['y']],axis=1)
df['xyz']=df.apply(lambda j: [j['x'],j['y'],j['z']],axis=1)

# Argument setup=True for adding standard linetypes and text styles.
doc = ezdxf.new('R12',setup=True)
msp=doc.modelspace()

#Config point mode and size
doc.header['$PDMODE'] = 35
doc.header['$PDSIZE'] = 0.5

#Select only points
filt = (df['d']=='PP')
df_pp= df[filt][['e','xyz']]
pps = df_pp.values.tolist()

#Draw points
for pp in pps:
    msp.add_point(pp[1])
    msp.add_text(pp[0],
                dxfattribs={
                    'style': 'LiberationSerif',
                    'height': 0.5}
                ).set_pos(pp[1], align='LEFT')

zoom.extents(msp)
doc.saveas('points.dxf')

# **Implementation**

In [1]:
import ezdxf
import pandas as pd
from ezdxf import zoom

## **Load Data**

In [2]:
def load_data(file_name):
    #Read csv file
    df=pd.read_csv(f'{file_name}.csv', usecols=[0,1,2,3,4], names=["est", "x", "y", "z", "des"], header=None)
    df['xy']=df.apply(lambda j: [j['x'],j['y']],axis=1)
    df['xyz']=df.apply(lambda j: [j['x'],j['y'],j['z']],axis=1)

    #Save as json file
    df.to_json(f'{file_name}.json', orient = 'records',indent=4)
    del df

## **Config DXF file**

In [3]:
def config_dxf():
    # Argument setup=True for adding standard linetypes and text styles.
    doc=ezdxf.new(dxfversion='R2000', setup=True)
    msp=doc.modelspace()

    #layers
    #doc.layers.new(name='A', dxfattribs={'linetype':'DASHED', 'color':1})
    doc.layers.new(name='L', dxfattribs={'color':1})
    doc.layers.new(name='T', dxfattribs={'color':2})
    doc.layers.new(name='P', dxfattribs={'color':5})
    doc.layers.new(name='2D', dxfattribs={'color':6})
    doc.layers.new(name='PP', dxfattribs={'color':181})
    doc.layers.new(name='SEC', dxfattribs={'color':7})

    #Config point mode and size
    doc.header['$PDMODE'] = 35
    doc.header['$PDSIZE'] = 0.5

    #Save initial dxf file
    doc.saveas(f'{file_name}.dxf')

## **Draw Points**

In [4]:
def draw_points(file_name):
    #Pandas read json file
    df = pd.read_json(f'{file_name}.json')

    #Load DXF file
    doc = ezdxf.readfile(f'{file_name}.dxf')
    msp=doc.modelspace()

    #Select only points
    filt = (df['des']=='PP')
    df_pp= df[filt][['est','xyz']]
    pps = df_pp.values.tolist()

    #Draw points
    for pp in pps:
        msp.add_point(pp[1], dxfattribs={'layer':'PP'})
        msp.add_text(pp[0],
                    dxfattribs={
                        'layer': 'PP',
                        'style': 'LiberationSerif',
                        'height': 0.5}
                    ).set_pos(pp[1], align='LEFT')

    zoom.extents(msp)
    doc.saveas(f'{file_name}.dxf')
    del df

## **Draw LTS**

In [5]:
def draw_ltp(file_name):
    #Pandas read json file
    df = pd.read_json(f'{file_name}.json')

    #Load DXF file
    doc = ezdxf.readfile(f'{file_name}.dxf')
    msp=doc.modelspace()

    for pt in ['L','T','P']:
        filt = (df['des']==pt)
        dfx = df[filt]
        points = dfx['xyz'].values.tolist()
        msp.add_polyline3d(points=points,dxfattribs={'layer':pt})
        
        if pt=='L':
            points = dfx['xy'].values.tolist()
            msp.add_lwpolyline(points=points,dxfattribs={'layer':'2D'})

    zoom.extents(msp)
    doc.saveas(f'{file_name}.dxf')
    del df, dfx

## **Testing**

In [6]:
file_name = '8A_1.MD.CSV'
file_name = 'NV-20A.MD.CSV'
file_name = file_name[:-4]

load_data(file_name=file_name)
config_dxf()
draw_points(file_name=file_name)
draw_ltp(file_name=file_name)

## **Draw Sections**

In [58]:
import pandas as pd

file_name='sec'
df=pd.read_excel(f'{file_name}.xlsx', usecols=[0,1,2,3,4], names=["est", "x", "y", "z", "des"], header=None)
df['xy']=df.apply(lambda j: [j['x'],j['y']],axis=1)
df['xyz']=df.apply(lambda j: [j['x'],j['y'],j['z']],axis=1)
df.head()

,est,x,y,z,des,xy,xyz
0,R68,366409.3232,8.710682e+06,3607.9896,NaN,"[366409.3232, 8710682.2969]","[366409.3232, 8710682.2969, 3607.9896]"
1,1,0.0000,0.000000e+00,0.0000,SEC1,"[0.0, 0.0]","[0.0, 0.0, 0.0]"
2,2,0.0000,5.000000e+00,0.0000,SEC1,"[0.0, 5.0]","[0.0, 5.0, 0.0]"
3,3,5.0000,5.000000e+00,0.0000,SEC1,"[5.0, 5.0]","[5.0, 5.0, 0.0]"
4,4,5.0000,0.000000e+00,0.0000,SEC1,"[5.0, 0.0]","[5.0, 0.0, 0.0]"

In [54]:
grouped=df.groupby('des')
sections=grouped.groups.keys()
sections

In [57]:
import ezdxf
import pandas as pd
from ezdxf import zoom

doc=ezdxf.new(dxfversion='R2000', setup=True)
msp=doc.modelspace()
doc.layers.new(name='SEC', dxfattribs={'color':3})

for section in sections:
    if section.startswith('SEC'):
        points = grouped.get_group(section)['xyz'].values.tolist()
        print(points)
        msp.add_polyline3d(points=points, close=True, dxfattribs={'layer':'SEC'})

zoom.extents(msp)
doc.saveas('sec.dxf')

[[0.0, 0.0, 0.0], [0.0, 5.0, 0.0], [5.0, 5.0, 0.0], [5.0, 0.0, 0.0]]
[[10.0, 0.0, 0.0], [10.0, 5.0, 0.0], [15.0, 5.0, 0.0], [15.0, 0.0, 0.0]]
[[20.0, 0.0, 0.0], [20.0, 5.0, 0.0], [25.0, 5.0, 0.0], [25.0, 0.0, 0.0]]