# **Packages**

In [109]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.7/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.7/site-packages (from openpyxl) (1.1.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

## **Read Data**

In [110]:
import pandas as pd
import numpy as np

In [111]:
df=pd.read_excel('EFICIENCIA MARZO TOPOGRAFÍA - 2022.xlsx', sheet_name='EFICIENCIA FEBRERO')
df.head()

/opt/conda/lib/python3.7/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-20 00:00:00,NaN,2022-02-21 00:00:00,...,2022-03-18 00:00:00,NaN,2022-03-19 00:00:00,NaN,2022-03-20 00:00:00,NaN,2022-03-21 00:00:00,NaN,2022-03-22 00:00:00,NaN
3,NIVEL,LABOR,SECCION,PROG.,AVANCE ACUM.,CUMP.%,EFICIENCIA,D,N,D,...,D,N,D,N,D,N,D,N,D,N
4,4A,VCR 729,2.0X2.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## **Cleaning the data**
- Remove the first two unneeded rows
- Reset index

In [112]:
df.drop([0,1], inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-20 00:00:00,NaN,2022-02-21 00:00:00,...,2022-03-18 00:00:00,NaN,2022-03-19 00:00:00,NaN,2022-03-20 00:00:00,NaN,2022-03-21 00:00:00,NaN,2022-03-22 00:00:00,NaN
1,NIVEL,LABOR,SECCION,PROG.,AVANCE ACUM.,CUMP.%,EFICIENCIA,D,N,D,...,D,N,D,N,D,N,D,N,D,N
2,4A,VCR 729,2.0X2.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8A1,RP+ 602 NE,4.5X4.0,APERTURA,3.72,0,3.72,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,9B,GL 682 NE,4.0X4.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- Starting with the two new rows. Format and create the new header for the dataframe
    + Row 0 -> Dates
    + Row 1 -> Work shifts

In [113]:
#Row 0
r0=['']*7
for i in df.iloc[0][7:]:
    if i is np.nan:
        #print(True)
        r0.append(True)
    else:
        r0.append(i.strftime("%d/%m/%Y"))
        #print(i.strftime("%d/%m/%Y"))

for i in range(len(r0)):
    if r0[i] is True:
        r0[i]=str(r0[i-1])
    else:
        r0[i]=str(r0[i])

#Row 1
r1=df.iloc[1].tolist()

#New row (header)
rx=[]
for i,j in zip(r0,r1):
    #print(f'{i} {j}'.strip())
    rx.append(f'{i} {j}'.strip())

#rx

- Set the new header
    - Remove the old two unneeded rows
    - Reset index

In [114]:
df.set_axis(rx, axis=1, inplace=True)
df.drop([0,1], inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

,NIVEL,LABOR,SECCION,PROG.,AVANCE ACUM.,CUMP.%,EFICIENCIA,20/02/2022 D,20/02/2022 N,21/02/2022 D,...,18/03/2022 D,18/03/2022 N,19/03/2022 D,19/03/2022 N,20/03/2022 D,20/03/2022 N,21/03/2022 D,21/03/2022 N,22/03/2022 D,22/03/2022 N
0,4A,VCR 729,2.0X2.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8A1,RP+ 602 NE,4.5X4.0,APERTURA,3.72,0,3.72,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9B,GL 682 NE,4.0X4.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12A,BP 595 NE,4.0X3.5,20,21.18,1.059,3.025714,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12A,GL 574 NE,4.0X3.5,40,12,0.3,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [115]:
# Cleaning data
df.dropna(axis='index',how='any',subset=['NIVEL', 'LABOR'],inplace=True)
df.shape

(137, 69)

In [116]:
# Change data type
df = df.astype({"NIVEL": str})

# delete unnecesary rowns
ur=[]
for index, row in df.iterrows():
    if len(row['NIVEL'])>4:
        print(row['NIVEL'], index)
        #ur.append(index)
#df.drop(ur, inplace=True)
#df.reset_index(drop=True, inplace=True)
ur

[]

In [117]:
df.head()

,NIVEL,LABOR,SECCION,PROG.,AVANCE ACUM.,CUMP.%,EFICIENCIA,20/02/2022 D,20/02/2022 N,21/02/2022 D,...,18/03/2022 D,18/03/2022 N,19/03/2022 D,19/03/2022 N,20/03/2022 D,20/03/2022 N,21/03/2022 D,21/03/2022 N,22/03/2022 D,22/03/2022 N
0,4A,VCR 729,2.0X2.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8A1,RP+ 602 NE,4.5X4.0,APERTURA,3.72,0,3.72,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9B,GL 682 NE,4.0X4.0,0,0,0,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12A,BP 595 NE,4.0X3.5,20,21.18,1.059,3.025714,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12A,GL 574 NE,4.0X3.5,40,12,0.3,3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
df.iloc[[3]].dropna(axis='columns',how='any')

,NIVEL,LABOR,SECCION,PROG.,AVANCE ACUM.,CUMP.%,EFICIENCIA,22/02/2022 D,24/02/2022 D,25/02/2022 D,26/02/2022 D,27/02/2022 N,28/02/2022 N,02/03/2022 N
3,12A,BP 595 NE,4.0X3.5,20,21.18,1.059,3.025714,2.1,3,3,3,3.39,3.34,3.35

In [119]:
df.iloc[[2]].dropna(axis='columns',how='any')

  NIVEL      LABOR  SECCION PROG. AVANCE ACUM. CUMP.% EFICIENCIA
2    9B  GL 682 NE  4.0X4.0     0            0      0          0

In [120]:
dfx=df.iloc[[3]].dropna(axis='columns',how='any')
dfx

,NIVEL,LABOR,SECCION,PROG.,AVANCE ACUM.,CUMP.%,EFICIENCIA,22/02/2022 D,24/02/2022 D,25/02/2022 D,26/02/2022 D,27/02/2022 N,28/02/2022 N,02/03/2022 N
3,12A,BP 595 NE,4.0X3.5,20,21.18,1.059,3.025714,2.1,3,3,3,3.39,3.34,3.35

In [121]:
medida = dfx.values.tolist()[0][7:]
fecha = dfx.columns.tolist()[7:]
if len(medida)==0:
    print('empty')
else:
    nivel=[dfx['NIVEL'].iloc[0]]*len(medida)
    labor=[dfx['LABOR'].iloc[0]]*len(medida)
    avances=list(zip(nivel,labor,medida,fecha))
    print(fecha)

['22/02/2022 D', '24/02/2022 D', '25/02/2022 D', '26/02/2022 D', '27/02/2022 N', '28/02/2022 N', '02/03/2022 N']

In [122]:
#FECHA - TURNO - GUARDIA - NIVEL - LABOR - SECCION - SUBZONA - AV.PROGRAMADO - AVANCE REAL - TIPO DE DISPARO

In [123]:
dfx['NIVEL'].iloc[0]

'12A'

In [124]:
df_avances=pd.DataFrame(data=avances, columns=['NIVEL', 'LABOR', 'AVANCE', 'FECHA'])
df_avances

  NIVEL      LABOR  AVANCE         FECHA
0   12A  BP 595 NE    2.10  22/02/2022 D
1   12A  BP 595 NE    3.00  24/02/2022 D
2   12A  BP 595 NE    3.00  25/02/2022 D
3   12A  BP 595 NE    3.00  26/02/2022 D
4   12A  BP 595 NE    3.39  27/02/2022 N
5   12A  BP 595 NE    3.34  28/02/2022 N
6   12A  BP 595 NE    3.35  02/03/2022 N

## **Implementation**

In [125]:
df_avances=pd.DataFrame(columns=['NIVEL', 'LABOR', 'AVANCE', 'FECHA'])

for i in range(df.shape[0]):
    dfx=df.iloc[[i]].dropna(axis='columns',how='any')
    
    medida = dfx.values.tolist()[0][7:]
    fecha = dfx.columns.tolist()[7:]
    if len(medida) > 0:
        nivel=[dfx['NIVEL'].iloc[0]]*len(medida)
        labor=[dfx['LABOR'].iloc[0]]*len(medida)
        avances=list(zip(nivel,labor,medida,fecha))
        dfx= pd.DataFrame(data=avances, columns=['NIVEL', 'LABOR', 'AVANCE', 'FECHA'])
        #print(dfx)
        df_avances = df_avances.append(dfx, ignore_index=True)
        #print(df_avances)

df_avances

    NIVEL             LABOR  AVANCE         FECHA
0     8A1        RP+ 602 NE    3.72  23/02/2022 N
1     12A         BP 595 NE    2.10  22/02/2022 D
2     12A         BP 595 NE    3.00  24/02/2022 D
3     12A         BP 595 NE    3.00  25/02/2022 D
4     12A         BP 595 NE    3.00  26/02/2022 D
..    ...               ...     ...           ...
122   20A         GL 159 SW    3.50  26/02/2022 D
123   20A        CAM 089 SW    1.80  27/02/2022 D
124    21  RP (-13%) 400 NW    3.30  23/02/2022 N
125    21  RP (-13%) 400 NW    3.30  24/02/2022 N
126    21  RP (-13%) 400 NW    3.40  25/02/2022 N

[127 rows x 4 columns]

to_csv

In [126]:
def guardia(f):
    g=f.split(' ')[1]
    if g=='D': 
        return 'DÍA'
    else: 
        return 'NOCHE'

In [127]:
df_avances['GUARDIA']=df_avances['FECHA'].apply(guardia)
df_avances['FECHA'] = df_avances['FECHA'].apply(lambda x: x.split(' ')[0])
df_avances

    NIVEL             LABOR  AVANCE       FECHA GUARDIA
0     8A1        RP+ 602 NE    3.72  23/02/2022   NOCHE
1     12A         BP 595 NE    2.10  22/02/2022     DÍA
2     12A         BP 595 NE    3.00  24/02/2022     DÍA
3     12A         BP 595 NE    3.00  25/02/2022     DÍA
4     12A         BP 595 NE    3.00  26/02/2022     DÍA
..    ...               ...     ...         ...     ...
122   20A         GL 159 SW    3.50  26/02/2022     DÍA
123   20A        CAM 089 SW    1.80  27/02/2022     DÍA
124    21  RP (-13%) 400 NW    3.30  23/02/2022   NOCHE
125    21  RP (-13%) 400 NW    3.30  24/02/2022   NOCHE
126    21  RP (-13%) 400 NW    3.40  25/02/2022   NOCHE

[127 rows x 5 columns]

In [129]:
df_avances.to_excel('efi_topo.xlsx', index=False, encoding='utf-8')

In [1]:
import pandas as pd
import numpy as np

In [21]:
df=pd.read_csv('avances.csv')
df.shape

(246, 51)

In [25]:
df=pd.read_csv('avances.csv', usecols=[0,1,2,3,4,5,6,7,9,11,15])
df.dropna(inplace=True)
df.shapee

(246, 11)

In [26]:
df.sample(n=1)

,FECHA,TURNO,EQUIPO,OPERADOR,INGENIERO,GUARDIA,NIVEL,LABOR,SUB ZONA,AVANCE REAL,TIPO DE DISPARO
10,21/03/2022,DÍA,J-9,"RAMOS PEÑALOZA, EDUARDO","PRIETO PRIETO, JEAN CARLOS",B,17,XC 545 NE,BAJA,3.0,AVANCE

In [37]:
df['OPERADOR']=df['OPERADOR'].apply(lambda x: x.split(' ')[0])
df['INGENIERO']=df['INGENIERO'].apply(lambda x: x.split(' ')[0])

In [38]:
df.sample(AVANCE REAL1)

,FECHA,TURNO,EQUIPO,OPERADOR,INGENIERO,GUARDIA,NIVEL,LABOR,SUB ZONA,AVANCE REAL,TIPO DE DISPARO
43,24/03/2022,DÍA,J-40,SINCHE,HUAMAN,A,435,XC 451 W,INTERMEDIA,3.14,AVANCE

In [39]:
filt=(df['AVANCE REAL']>=3.1)
df[filt]

,FECHA,TURNO,EQUIPO,OPERADOR,INGENIERO,GUARDIA,NIVEL,LABOR,SUB ZONA,AVANCE REAL,TIPO DE DISPARO
1,20/03/2022,DÍA,J-15,TORDECILLA,CHAMORRO,B,12,EST 640 SW,INTERMEDIA,3.38,AVANCE
4,20/03/2022,DÍA,J-9,RAMOS,PRIETO,B,18,GL370NE,BAJA,3.50,AVANCE
5,20/03/2022,DÍA,J-37,ARANA,YAURI,B,20B,GL 190 SW,PROFUNDIZACIÓN,3.60,AVANCE
6,20/03/2022,NOCHE,J-15,TORRES,LLACSA,C,12,GL 628 NE,INTERMEDIA,3.40,AVANCE
12,21/03/2022,DÍA,J-15,TORDECILLA,CHAMORRO,B,12,GL 658 NE,INTERMEDIA,3.30,AVANCE
...,...,...,...,...,...,...,...,...,...,...,...
238,13/04/2022,DÍA,J-9,RAMOS,PRIETO,B,18,GL 374 NE,BAJA,3.30,AVANCE
239,13/04/2022,DÍA,J-15,ARANA,YAURI,B,20,RP (+13%) 480 NW,PROFUNDIZACIÓN,3.40,AVANCE
240,13/04/2022,NOCHE,J-9,APOLINARIO,HUAMANI,C,17,XC 545 NE,BAJA,3.20,AVANCE
242,13/04/2022,NOCHE,J-37,LLANCARI,SOSA,C,19,GL 290 NE,PROFUNDIZACIÓN,3.50,AVANCE
245,13/04/2022,NOCHE,J-15,TORRES,SOSA,C,21,XC 400 NE,PROFUNDIZACIÓN,3.20,AVANCE

### Report by ing

In [44]:
df.groupby(['INGENIERO','TIPO DE DISPARO']).first()

                                  FECHA  TURNO EQUIPO    OPERADOR GUARDIA  \
INGENIERO TIPO DE DISPARO
BELTRAN   AVANCE              1/04/2022    DÍA   J-40      SINCHE       A
BOZA      AVANCE             27/03/2022    DÍA   J-40      SINCHE       A
          SELLADA            23/03/2022    DÍA   J-40      SINCHE       A
CHAMORRO  AVANCE             20/03/2022    DÍA   J-15  TORDECILLA       B
          AVANCE DEFICIENTE  20/03/2022    DÍA   J-15  TORDECILLA       B
          CONEXIÓN            2/04/2022  NOCHE   J-15  TORDECILLA       B
          SELLADA            21/03/2022    DÍA   J-15  TORDECILLA       B
CUEVA     AVANCE             23/03/2022    DÍA    J-9     QUICHCA       A
          AVANCE DEFICIENTE  23/03/2022    DÍA    J-9     QUICHCA       A
          SELLADA            29/03/2022    DÍA    J-9     QUICHCA       A
FERNANDEZ AVANCE              6/04/2022  NOCHE   J-37     VENTURA       A
          AVANCE DEFICIENTE  10/04/2022  NOCHE   J-37     VENTURA       A
HUAMAN    AVANCE             24/03/2022    DÍA   J-40      SINCHE       A
          AVANCE DEFICIENTE  23/03/2022    DÍA   J-15      QUISPE       A
HUAMANI   AVANCE             21/03/2022  NOCHE    J-9  APOLINARIO       C
          AVANCE 10 FT        8/04/2022    DÍA    J-9  APOLINARIO       C
          AVANCE DEFICIENTE   7/04/2022    DÍA    J-9  APOLINARIO       C
LLACSA    AVANCE             20/03/2022  NOCHE   J-15      TORRES       C
          AVANCE DEFICIENTE  21/03/2022  NOCHE   J-15      TORRES       C
          SELLADA            20/03/2022  NOCHE   J-15      TORRES       C
MICHUE    AVANCE DEFICIENTE  20/03/2022  NOCHE    J-9  APOLINARIO       C
PALOMINO  AVANCE              6/04/2022    DÍA   J-15      TORRES       A
          AVANCE DEFICIENTE  10/04/2022    DÍA   J-15      TORRES       C
PRIETO    AVANCE             20/03/2022    DÍA    J-9       RAMOS       B
          AVANCE DEFICIENTE  21/03/2022    DÍA    J-9       RAMOS       B
          CONEXIÓN           26/03/2022  NOCHE    J-9       RAMOS       B
          SELLADA            20/03/2022    DÍA    J-9       RAMOS       B
SORIA     AVANCE             24/03/2022    DÍA   J-15      QUISPE       A
          AVANCE DEFICIENTE  24/03/2022    DÍA   J-15      QUISPE       A
          SELLADA            26/03/2022    DÍA   J-15      QUISPE       A
SOSA      AVANCE             10/04/2022    DÍA   J-37    LLANCARI       C
          AVANCE DEFICIENTE  21/03/2022  NOCHE   J-37    LLANCARI       C
          SELLADA            21/03/2022  NOCHE   J-37    LLANCARI       C
TACO      7 FT               28/03/2022    DÍA   J-15      QUISPE       A
          AVANCE             24/03/2022    DÍA   J-37     VENTURA       A
          AVANCE DEFICIENTE  23/03/2022    DÍA   J-37     VENTURA       A
          CONEXIÓN           11/04/2022    DÍA   J-37       YAURI       C
          SELLADA            27/03/2022    DÍA   J-37     VENTURA       A
YAURI     AVANCE             20/03/2022    DÍA   J-37       ARANA       B
          AVANCE 10 FT       28/03/2022  NOCHE   J-15       TOVAR       B
          AVANCE DEFICIENTE  20/03/2022    DÍA   J-37       ARANA       B

                            NIVEL             LABOR        SUB ZONA  \
INGENIERO TIPO DE DISPARO
BELTRAN   AVANCE              435          XC 451 W      INTERMEDIA
BOZA      AVANCE              435          XC 451 W      INTERMEDIA
          SELLADA             435          XC 451 W      INTERMEDIA
CHAMORRO  AVANCE               12        EST 640 SW      INTERMEDIA
          AVANCE DEFICIENTE    12         GL 658 NE      INTERMEDIA
          CONEXIÓN             14          XC 412 N      INTERMEDIA
          SELLADA              12         GL 658 SW      INTERMEDIA
CUEVA     AVANCE               16         BP 409 SW            BAJA
          AVANCE DEFICIENTE   19A         XC 305 NE            BAJA
          SELLADA             19A         GL 417 NE            BAJA
FERNANDEZ AVANCE              20A         XC 200 NW  PROFUNDIZACIÓN
          AVANCE DEFICIENTE    19         XC 300 NW  PROFUNDIZACIÓN
HUAMAN    AVANCE              435          XC 451 W      INTERMEDIA
          AVANCE DEFICIENTE    12         GL 628 NE      INTERMEDIA
HUAMANI   AVANCE               18       VENT 481 NW            BAJA
          AVANCE 10 FT        19A         XC 345 SE            BAJA
          AVANCE DEFICIENTE   19A         GL 417 NE            BAJA
LLACSA    AVANCE               12         GL 628 NE      INTERMEDIA
          AVANCE DEFICIENTE    12  RP (-13%) 595 SW      INTERMEDIA
          SELLADA              12  RP (-13%) 595 SW      INTERMEDIA
MICHUE    AVANCE DEFICIENTE    18         BP 330 NE            BAJA
PALOMINO  AVANCE               12  RP (-13%) 595 SW      INTERMEDIA
          AVANCE DEFICIENTE    12  RP (-13%) 595 SW      INTERMEDIA
PRIETO    AVANCE               18           GL370NE            BAJA
          AVANCE DEFICIENTE    18  RP (-13%) 410 NE            BAJA
          CONEXIÓN             18       VENT 481 NW            BAJA
          SELLADA              18         XC 322 NW            BAJA
SORIA     AVANCE               12  RP (-13%) 595 SW      INTERMEDIA
          AVANCE DEFICIENTE    12         CAM 628 W      INTERMEDIA
          SELLADA             12A       VENT 648 NW      INTERMEDIA
SOSA      AVANCE               19         GL 290 NE  PROFUNDIZACIÓN
          AVANCE DEFICIENTE    19         GL 323 SW  PROFUNDIZACIÓN
          SELLADA             20A         XC 121 NW  PROFUNDIZACIÓN
TACO      7 FT                 12         GL 658 SW      INTERMEDIA
          AVANCE              20A  RP(-) 15% 120 SW  PROFUNDIZACIÓN
          AVANCE DEFICIENTE    19         GL 323 SW  PROFUNDIZACIÓN
          CONEXIÓN            20A  RP(-) 15% 120 SW  PROFUNDIZACIÓN
          SELLADA              19        CAM 205 NW  PROFUNDIZACIÓN
YAURI     AVANCE              20B         GL 190 SW  PROFUNDIZACIÓN
          AVANCE 10 FT         10        CAM 160 NE      INTERMEDIA
          AVANCE DEFICIENTE    19         GL 270 NE  PROFUNDIZACIÓN

                             AVANCE REAL
INGENIERO TIPO DE DISPARO
BELTRAN   AVANCE                    3.75
BOZA      AVANCE                    3.78
          SELLADA                   2.80
CHAMORRO  AVANCE                    3.38
          AVANCE DEFICIENTE         2.31
          CONEXIÓN                  3.97
          SELLADA                   2.00
CUEVA     AVANCE                    3.31
          AVANCE DEFICIENTE         2.22
          SELLADA                   3.03
FERNANDEZ AVANCE                    3.30
          AVANCE DEFICIENTE         2.29
HUAMAN    AVANCE                    3.14
          AVANCE DEFICIENTE         2.72
HUAMANI   AVANCE                    3.30
          AVANCE 10 FT              2.28
          AVANCE DEFICIENTE         2.64
LLACSA    AVANCE                    3.40
          AVANCE DEFICIENTE         2.80
          SELLADA                   2.40
MICHUE    AVANCE DEFICIENTE         3.00
PALOMINO  AVANCE                    3.20
          AVANCE DEFICIENTE         2.60
PRIETO    AVANCE                    3.50
          AVANCE DEFICIENTE         2.91
          CONEXIÓN                  2.61
          SELLADA                   2.50
SORIA     AVANCE                    3.25
          AVANCE DEFICIENTE         3.67
          SELLADA                   1.84
SOSA      AVANCE                    3.30
          AVANCE DEFICIENTE         3.00
          SELLADA                   1.80
TACO      7 FT                      1.72
          AVANCE                    3.80
          AVANCE DEFICIENTE         2.70
          CONEXIÓN                  2.76
          SELLADA                   1.70
YAURI     AVANCE                    3.60
          AVANCE 10 FT              2.76
          AVANCE DEFICIENTE         2.80